extends header
append styles
	// Custom styles for this template
	link(href='/css/dashboard.css', rel='stylesheet')
block body
	.container-fluid
		//- Add navbar and sidebar manipulation
		.row
			.col-sm-3.col-md-2.sidebar
				ul.nav.nav-sidebar
					each val, key in dashMenu
						if selected === key
							li.active
								a.selected(href=val, title=key)= key
						else
							li
								a(href=val, title=key)= key