extends header
append styles
	// Custom styles for this template
	link(href='/css/dashboard.css', rel='stylesheet')
block body
	.container-fluid
		.row
			.col-sm-3.col-md-2.sidebar
				ul.nav.nav-sidebar
					li.active
						a(href='/dashboard/overview')
							| Overview 
							span.sr-only (current)
					li
						a(href='/dashboard/athletes') Athletes
					li
						a(href='/dashboard/settings') Settings