extends frontend-layout

append body
	.container
		.starter-template
			h1 #{title}
			h1 Weight Tracking System
			p.lead
				| Sportscale is a computerized weight monitoring system
				br
				|  that recognizes users by their fingerprint
				br
				|  and stores weight data.
